@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background: #eee;
  font-family: 'Poppins', sans-serif;
}

/* INÃCIO - Defaults */
a {
  text-decoration: none;
  color: var(--color-primary);
}

button, label, .hand-over {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.all-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* FIM - Defaults */
#page {
  width: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

#page .house {
  width: 331.908px;
  height: 700px;
  background: #000;
  border-radius: 33px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page .house .screen {
  width: calc(100% - 9px);
  height: calc(100% - 9px);
  max-height: 100%;
  background: #f1efe5;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;
  border-radius: 33px;
  padding: 0;
  overflow: hidden;
}

#page .house .screen .top-screen {
  width: 100%;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#page .house .screen .top-screen .left-dock {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0 0 5px;
}

#page .house .screen .top-screen .left-dock img {
  width: 12px;
  height: auto;
  margin-left: 3px;
}

#page .house .screen .top-screen .dock {
  width: 100%;
  height: calc(100% - 2px);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: #222;
  border-bottom-left-radius: 10px 17px;
  border-bottom-right-radius: 17px 10px;
  position: relative;
}

#page .house .screen .top-screen .dock .speaker {
  width: 80px;
  height: 7px;
  background: rgba(51, 51, 51, 0.524);
  position: absolute;
  top: 5px;
  left: 25px;
  border-radius: 5px;
}

#page .house .screen .top-screen .dock .camera {
  width: 10px;
  height: 10px;
  background: rgba(34, 34, 34, 0.972);
  background-image: radial-gradient(ellipse farthest-corner at 10px 10px, #222 0%, rgba(0, 0, 255, 0) 0%, #333 50%);
  position: absolute;
  top: 4px;
  right: 20px;
  border-radius: 50%;
}

#page .house .screen .top-screen .right-dock {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page .house .screen .top-screen .right-dock img {
  width: 12px;
  height: auto;
  margin-left: 5px;
}

#page .house .screen .top-screen .right-dock .battery {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: 3px;
  margin-left: 3px;
}

#page .house .screen .menu {
  padding: 8px;
}

#page .house .screen .menu img {
  width: 12px;
  height: auto;
}

#page .house .screen main {
  width: 100%;
  height: 525px;
  background: #fff;
  overflow: auto;
  border-radius: 32px 32px 0 0;
  padding: 16px;
  margin-top: 24px;
}

#page .house .screen main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#page .house .screen main::-webkit-scrollbar {
  display: none;
}

#page .house .screen main .title {
  font-size: 14px;
}

#page .house .screen main > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#page .house .screen main > div .user {
  width: 100px;
  height: 85px;
  margin: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page .house .screen main > div .user {
  width: 25%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  position: relative;
  margin-top: 16px;
}

#page .house .screen main > div .user .avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 1px;
  left: calc(50% - 32.5px);
}

#page .house .screen main > div .user .avatar img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

#page .house .screen footer {
  width: 100%;
  height: 80px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page .house .screen main > div .user > .fun,
#page .house .screen main > div .user > .mic {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page .house .screen main > div .user > .fun {
  top: 38px;
  left: 1px;
}

#page .house .screen main > div .user > .mic {
  top: 38px;
  right: 1px;
}

#page .house .screen main > div .user > .fun > img,
#page .house .screen main > div .user > .mic > img {
  width: 15px;
  height: auto;
}

#page .house .screen main > div .user .user-name {
  width: 95%;
  position: absolute;
  top: 70px;
  left: 2px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 10px;
  word-wrap: break-word;
}

#page .house .screen main > div .user .user-name img {
  width: 11px;
  height: 11px;
  margin-right: 3px;
}

#page .house .screen footer .bt-options {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px 12px;
}

#page .house .screen footer .bt-options > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page .house .screen footer .bt-options button {
  width: 120px;
  height: 32px;
  border-radius: 30px;
  border: none;
}

#page .house .screen footer .bt-options .plus,
#page .house .screen footer .bt-options .hand {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #eee;
  margin-left: 8px;
}

#page .house .screen footer .bt-options .plus img,
#page .house .screen footer .bt-options .hand img {
  width: 16px;
  height: auto;
}

#page .house .screen footer .buttom-home {
  width: 100px;
  height: 5px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  margin: 5px auto 0;
}
